html {
    --text: #0a170c;
    --background: #5cb265;
    --primary: #84ab63;
    --secondary: #512e10;
    --accent: #c5a77a;
}

body {
    color: var(--text);
    background: var(--background);
        font-family: "Quicksand";
}


h1{
    color: var(--secondary);
}
h1,
h2,
h3 {
    font-size: "Baloo Bhaijaan 2";
}

li::marker {
   color: var(--secondary);
}

p {
    color: var(--secondary);
}

.secondary-color > li {
    color: var(--secondary);
}

img {
    padding :4px;
    border: 4px solid var(--secondary);
    border-radius: 16px;
    background: var(--accent)
}