html {
    --text: #0a170c;
    --background: #3ac048;
    --primary: #84ab63;
    --secondary: #2f1600;
    --accent: #c5a77a;
}

li {
    text-decoration: underline #c5a77a;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Quicksand";
    font-weight: 520;
    font-size: large;
    
}


h1 {
    color: var(--secondary);
    font-size: xxx-large;
    font-weight: 620;
    font-style: oblique;
    font-size: 38px;
    border: 5px solid #2f1600;
    border-radius: 5000px;
    width: 675px;
    padding: 3px;
    background-color: #84ab63;
    margin: 0 auto;
}

h4{
    text-align: center;
    margin-top: 20px;
}


h1,
h2,
h3 {
    font-family: "Baloo Bhaijaan 2";
}

h2,
h3 {
    text-decoration: underline #c5a77a;
    font-size: larger;
    font-weight: 650;
}

li::marker {
    color: var(--secondary);
    margin-top: 5px;
    text-decoration: underline #c5a77a;
}

p {
    color: var(--secondary);
}

.secondary-color>li {
    color: var(--secondary);
}

img {
    padding: 6px;
    border: 7px solid var(--secondary);
    border-radius: 1000px;
    background: var(--accent)
}
*{
    width:900px;

}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    font-size: large;
    padding: 5px;
    
    background-color: #84ab63;
    border-radius: 1000px;
    text-align: center;
}
audio{
    text-align: center;
}

.main-nav {
    background-color: #84ab63;
    padding: 8px 15px;
    display: flex;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    justify-content: center;
   }

.main-nav a {
  color: #2f1600;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.main-nav a:hover {
  background-color: var(--background);
}

.main-nav a:active,
.main-nav a.active {
  background-color: #1abc9c;
}



