html {
    --text: #0a170c;
    --background: #3ac048;
    --primary: #84ab63;
    --secondary: #2f1600;
    --accent: #c5a77a;
}

li {
    border: 1.5px solid #c5a77a
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Quicksand";
    font-weight: 520;
    font-size: large;
}


h1 {
    color: var(--secondary);
    font-size: xxx-large;
    font-weight: 620;
    font-style: oblique;
    text-decoration: underline overline #c5a77a;
}


h1,
h2,
h3 {
    font-family: "Baloo Bhaijaan 2";
}

h2,
h3 {
    text-decoration: underline #c5a77a;
    font-size: larger;
    font-weight: 650;
}

li::marker {
    color: var(--secondary);
    margin-top: 5px;
}

p {
    color: var(--secondary);
}

.secondary-color>li {
    color: var(--secondary);
}

img {
    padding: 6px;
    border: 7px solid var(--secondary);
    border-radius: 1000px;
    background: var(--accent)


}
*{
    width:900px;
}
* {
  border: 1px solid #c5a77a;
}

